Rapport\ de\ projet/*.acn
Rapport\ de\ projet/*.aux
Rapport\ de\ projet/*.bcf
Rapport\ de\ projet/*.glo
Rapport\ de\ projet/*.idx
Rapport\ de\ projet/*.ist
Rapport\ de\ projet/*.log
Rapport\ de\ projet/*.pdf
Rapport\ de\ projet/*.run.xml
Rapport\ de\ projet/*.synctex.gz
Rapport\ de\ projet/*.tex.bak
Rapport\ de\ projet/*.toc
Rapport\ de\ projet/*.lof
Rapport\ de\ projet/*.dvi
Rapport\ de\ projet/*.out.ps
Soutenance/*.acn
Soutenance/*.aux
Soutenance/*.bcf
Soutenance/*.glo
Soutenance/*.idx
Soutenance/*.ist
Soutenance/*.log
Soutenance/*.pdf
Soutenance/*.run.xml
Soutenance/*.synctex.gz
Soutenance/*.tex.bak
Soutenance/*.toc
Soutenance/*.lof
Soutenance/*.dvi
Soutenance/*.out.ps
Soutenance/*.nav
Soutenance/*.out
Soutenance/*.snm
