Rapport\ de\ projet/*.acn
Rapport\ de\ projet/*.aux
Rapport\ de\ projet/*.bcf
Rapport\ de\ projet/*.glo
Rapport\ de\ projet/*.idx
Rapport\ de\ projet/*.ist
Rapport\ de\ projet/*.log
Rapport\ de\ projet/*.pdf
Rapport\ de\ projet/*.run.xml
Rapport\ de\ projet/*.synctex.gz
Rapport\ de\ projet/*.tex.bak
Rapport\ de\ projet/*.toc
